{%extends 'base.html'%}
{%block content%}
    {% load static %}
      <div class="component1">
    <img src="{%static 'images/front_img.jpg' %}" alt="">
    <div class="fronttext">
      <h1>Lorem ipsum dolor </h1>
      <h4>On average one can reduce his energy bills by 70% by renovating his house according to standards prescribed by
        us</h4>
      <button type="button" class="btn btn-secondary btn-lg btn-success">Explore <i
          class="fa-solid fa-arrow-right"></i></button>
    </div>
  </div>
  <h1 style="text-align: center; margin-top:40px; font-size:3rem; font-family: 'Merriweather Sans';">Features</h1>
  <div class="component2">
    <div class="container">
      <div class="card3 card31">
        <button class="btn btn-danger btn-lg hovershow">Predict Know</button>
        <h3 class='hovernotshow' style="text-align: center;">Predict your Enregy Consumption</h3>
        <p class="hovernotshow" style="text-align: center;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Odit id culpa quibusdam qui earum quisquam praesentium esse cum perspiciatis iusto dignissimos, quis commodi
          reprehenderit architecto magni? Doloribus ab blanditiis nisi, dicta, facilis fugiat magnam atque quaerat ipsa,
          rerum natus vitae!</p>
      </div>
    </div>
    <div class="container">
      <div class="card3 card32">
        <button class="btn btn-danger btn-lg hovershow">Renovate Now</button>
        <h3 class='hovernotshow' style="text-align: center;">Get Renovation Ideas</h3>
        <p class="hovernotshow" style="text-align: center;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Odit id culpa quibusdam qui earum quisquam praesentium esse cum perspiciatis iusto dignissimos, quis commodi
          reprehenderit architecto magni? Doloribus ab blanditiis nisi, dicta, facilis fugiat magnam atque quaerat ipsa,
          rerum natus vitae!</p>
      </div>
    </div>
  </div>
  <h1 style="text-align: center; margin-top:40px; font-size:3rem; font-family: 'Merriweather Sans';">What can you
    Achieve with Us?</h1>
  <div class="component3">
    <div class="container">
      <div class="card3 card31">
        <h3 class='hovernotshow' style="text-align: center;">Reduce your Energy Bills</h3>
        <p class="hovershow" style="text-align: center;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Odit id culpa quibusdam qui earum quisquam praesentium esse cum perspiciatis iusto dignissimos, quis commodi
          reprehenderit architecto magni? Doloribus ab blanditiis nisi, dicta, facilis fugiat magnam atque quaerat ipsa,
          rerum natus vitae!</p>
      </div>
    </div>
    <div class="container">
      <div class="card3 card32">
        <h3 class='hovernotshow' style="text-align: center;">Increase Efficiency</h3>
        <p class="hovershow" style="text-align: center;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Odit id culpa quibusdam qui earum quisquam praesentium esse cum perspiciatis iusto dignissimos, quis commodi
          reprehenderit architecto magni? Doloribus ab blanditiis nisi, dicta, facilis fugiat magnam atque quaerat ipsa,
          rerum natus vitae!</p>
      </div>
    </div>
    <div class="container">
      <div class="card3 card33">
        <h3 class='hovernotshow' style="text-align: center;">Switch to Cleaner Fuels</h3>
        <p class="hovershow" style="text-align: center;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Odit id culpa quibusdam qui earum quisquam praesentium esse cum perspiciatis iusto dignissimos, quis commodi
          reprehenderit architecto magni? Doloribus ab blanditiis nisi, dicta, facilis fugiat magnam atque quaerat ipsa,
          rerum natus vitae!</p>
      </div>
    </div>
  </div>

{%endblock%}